/* SPDX-License-Identifier: AGPL-3.0-or-later */

body {
	margin: auto;
	text-align: center;
	font-family: Sans-serif;
}

h1 {
	margin-top: 5%;
	font-size: 400%;
	text-shadow: 2px 2px 10px #fc1e25;
}

#name {
	font-size: 200%;
}

#msg {
	font-size: 100%;
	color: #fc1e25;
}

