/* SPDX-License-Identifier: AGPL-3.0-or-later */

:root {
	--main-color: #8f2fef;
	--bg-color: #000;
	--fg-color: #fff;
	--sec-bg-color: #333333;
	--sec-fg-color: #cccccc;
}

html {
	background-color: var(--bg-color);
	color: var(--fg-color);
	font-family: Sans-serif;
}
