/* SPDX-License-Identifier: AGPL-3.0-or-later */

#settings {
	margin: auto;
	text-align: center;
	font-family: Sans-Serif;
}

.setting {
	margin-top: 2%;
	display: block;
	border: none;
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	font-size: 200%;
	background-color: var(--bg-color);
	color: var(--fg-color);
	font-weight: 500;
}

.setting:hover {
	text-decoration-line: underline;
	text-decoration-color: var(--fg-color);
	font-weight: 900;
}

#delete {
	color: red;
}
