/* SPDX-License-Identifier: AGPL-3.0-or-later */

#settings {
	margin: auto;
	text-align: center;
	font-family: Sans-Serif;
}

.setting {
	margin-top: 2%;
	display: block;
	border: none;
	max-width: fit-content;
	margin: auto;
	font-size: 200%;
	background-color: var(--bg-color);
	color: var(--fg-color);
	font-weight: 500;
	border-radius: 10px;
	padding: 10px;
	transition-duration: 0.3s;
}

.setting:hover {
	text-decoration-line: underline;
	text-decoration-color: var(--bg-color);
	color: var(--sec-bg-color);
	font-weight: 900;
	background-color: var(--sec-fg-color);
	transition-duration: 0.3s;
}

form {
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	border-color: var(--main-color);
	width: 500px;
	margin: auto;
	padding: 20px;
}

form > h4 {
	font-style: italic;
	background-color: var(--sec-bg-color);
	color: var(--sec-fg-color);
	max-width: fit-content;
	margin: auto;
	padding: 10px;
	border-radius: 10px;
}

input {
	margin-bottom: 10px;
}

input[type="checkbox"] + label {
	font-style: italic;
}

input[type="submit"], #totp-btn {
	width: 30%;
	color: black;
	font-weight: bold;
	background-color: var(--main-color);
	border-color: var(--main-color);
	transition-duration: 0.3s;
}

input[type="submit"]:hover, #totp-btn:hover {
	border-color: white;
	transition-duration: 0.3s;
}

input[type="submit"]:active, #totp-btn:active {
	background-color: black;
	color: var(--main-color);
	border-color: var(--main-color);
	transition-duration: 0.3s;
}

input[type="submit"]:disabled, #totp-btn:disabled {
	background-color: lightgrey;
	border-color: lightgrey;
	color: grey;
	pointer-events: none;
	transition-duration: 0.3s;
}

input[type="text"] {
	width: 80%;
}

input {
	padding-top: 0.9%;
	padding-right: 1%;
	padding-bottom: 0.9%;
	padding-left: 1%;
	border-radius: 10px;
	margin-bottom: 10px;
	font-size: 100%;
}

#delete {
	color: red;
}
